.high-quality__benefits__item-form {
    position: relative;
    width: 230px;
    height: 250px;
    left: 12%;
    
}

.high-quality__benefits__item-form-shadow {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10%;
    right: 6%;
    z-index: -1;
}

.high-quality__benefits__icon-holder {
    position: absolute;
    top: -1%;
    left: 4%;
    width: 100px;
    height: 100px;
}

.high-quality__benefits__icon-svg {
    position: absolute;
    top: 5%;
    left: 6%;
    width: 100px;
    height: 100px;
}


@media screen  and (max-width: 1000px) {
    .high-quality__benefits__item-form {
        width: 220px;
        height: 200px;
    }

    .high-quality__benefits__item-form-shadow {
        height: 200px;
        width: 190px;
        bottom: 1%;;
        left: 14%;
    }

    .high-quality__benefits__icon-holder {
        top: -7%;
        left: 3%;
        width: 80px;
    }

    .high-quality__benefits__icon-svg {
        top: 3%;
        left: 3%;
    }
}

@media screen and (max-width: 479px) {
    .high-quality__benefits__item-form {
        width: 205px;
        left: 1%;
    }

    .high-quality__benefits__item-form-shadow {
        width: 150px;
        left: 12%;
    }

    .high-quality__benefits__icon-holder {
        top: -14%;
    }

    .high-quality__benefits__icon-svg {
        top: -5%;
    }
}