::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.799);
}

::-webkit-scrollbar-thumb {
    background: rgb(236, 185, 2);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(177, 167, 140);
} 

.homepage_main {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   background-color: #191919;
}

.header_container {
    position: relative;
    background-image: url('../../assets/blog_image.png');
    padding:  5rem 0;
    background-color: #191919;
    background-size: contain;
    top: 0%;
    width: 100%;
    height: 100%;
}

.header_foot {
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.9rem 0;
    cursor: pointer;
    background-color: #191919; 
    font-size: clamp(0.6rem, 15px, 3vw);
    color: aliceblue;
    border: solid 1px black;
}

.header_text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 30%;
    width: 100%;
    padding: 0;
    height: 150px;
}

.header_text > h1 {
    letter-spacing: 0.3rem; 
    font-size: clamp(0.6rem, 5vw, 60px);
    color: aliceblue;   
}

span {
    color: gold;
}

.header_paragraph { 
    font-size: clamp(1rem, 3vw, 25px);
    color: aliceblue;
}


.building_layout,
.landing_page, 
.corporate_website {
    letter-spacing: 0.1em;
    width: 25%;
}

.building_layout:hover,
.landing_page:hover,
.corporate_website:hover {
    color: orange
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

.font_awesome_container {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 35%;
    left: 2%;
    max-width: 100%;
    flex-direction: column;
    z-index: 1;
}

.homepage_facebook, 
.homepage_twitter,
.homepage_instagram {
    font-size: clamp(0.6rem, 4vw, 40px);
    color: aliceblue;  
}

.homepage_facebook:hover, 
.homepage_twitter:hover,
.homepage_instagram:hover {
   opacity: 0.5;
    color: orange
}


/******************** STYLES FOR MEDIA QUERIES **************/


@media screen and (max-width: 1000px) {
    .header_container {
       color: aliceblue;   
       padding: 0rem;
    }
    .header_foot {
        padding: 0;
    }
    .header_text {
        top: 20%;
    }
    
}

@media screen and (min-width: 1250px) {
    .building_layout:hover,
    .landing_page:hover,
    .corporate_website:hover {
        color: orange;
        border-left: solid 1px orange;
        border-right: solid 1px orange;
    }
}

@media screen and (min-width: 1600px) {
    .header_foot {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}