.discount__benefits__item-form {
    width: 300px;
    height: 250px;
}

.discount__benefits__item-form-shadow {
    position: absolute;
    width: 300px;
    height: 250px;
    top: -8%;
    right: 12%;
    z-index: -1;
}

.discount__benefits__icon-holder {
    position: absolute;
    bottom: -8%;
    left: 70%;
    width: 100px;
    height: 100px;
}

.discount__benefits__icon-svg {
    position: absolute;
    bottom: -13%;
    left: 73%;
    width: 100px;
    height: 100px;
}




@media screen and (max-width: 992px) {
    .discount__benefits__item-form {
        width: 250px;
        height: 200px;
    }

    .discount__benefits__item-form-shadow {
        top: -8%;
        left: -17.5%;
        height: 200px;
    }

    .discount__benefits__icon-holder {
        bottom: -23%;
        left: 32%;
        width: 80px;
    }

    .discount__benefits__icon-svg {
        bottom: -32%;
        left: 33%;
    }
}


@media screen and (max-width: 380px) {
    .discount__benefits__item-form-shadow {
        top: 1%;
        left: -17.5%;
        height: 200px;
    }


    .discount__benefits__icon-holder {
        top: -17%;
        left: 60%;
        width: 80px;
    }

    .discount__benefits__icon-svg {
        top: -9%;
        left: 61%;
    }
}
